#mybackground {
    height: 98vh;
    width: 212vh;
    position: absolute;
    left: calc(0px);
    top: calc(0px);
    background-size: cover;
}

#background2 {
    position: absolute;
    left: calc(0px);
    top: calc(0px);
    background-size: cover;
}

#introcon {
    position: absolute;
    left: calc(5vh);
    top: calc(1vh);
    background-size: cover;
}

#mytitle {
    position: relative;
    left: calc(20px);
    top: calc(0px);
    background-size: cover;
    color: lightyellow;
}

#exhibition {
    position: relative;
    left: calc(365px);
    top: calc(70px);
    background-size: cover;
}

#exhibitioncard {
    width: 36vh;
    height: 50vh;
    border-radius: 3vh;
}

#playerNumber1 {
    color: lightyellow;
    font-size: 5vh;
    position: absolute;
    left: calc(120vh);
    top: calc(28vh);
}

#playerNumber2 {
    position: absolute;
    left: calc(150vh);
    top: calc(30vh);
}


#entergame {
    font-size: 5vh;
    position: absolute;
    width: 30vh;
    height: 10vh;
    left: calc(125vh);
    top: calc(57vh);
    color: lightyellow;
}

#cardback {
    font-size: 4vh;
    position: absolute;
    width: 18vh;
    height: 8vh;
    left: calc(5vh);
    top: calc(23vh);
    color: lightblue;
}

#cardpad {
    font-size: 4vh;
    position: absolute;
    width: 18vh;
    height: 8vh;
    left: calc(5vh);
    top: calc(33vh);
    color: lightgoldenrodyellow;
}

#recordlist {
    font-size: 4vh;
    position: absolute;
    width: 18vh;
    height: 8vh;
    left: calc(5vh);
    top: calc(43vh);
    color: greenyellow;
}

#set {
    position: absolute;
    width: 20vh;
    height: 20vh;
    left: calc(185vh);
    top: calc(70vh);
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

#set:hover {
    -webkit-transform: rotate(360deg);
    transform: rotateZ(360deg);
}

#introduction {
    font-size: 3vh;
    position: absolute;
    width: 20vh;
    height: 8vh;
    left: calc(185vh);
    top: calc(1vh);
    color: lightyellow;
}

#introduction:hover {
    width: 20vh;
    height: 8vh;
    color: black;
}

#pad {
    position: absolute;
    left: calc(25vh);
    top: calc(20vh);
    width: 150vh;
    height: 40vh;
    background-color: black;
    border-radius: 20%;
}

#Menu {
    position: absolute;
    left: calc(2vh);
    top: calc(1vh);
    width: 18vh;
    height: 8vh;
    font-size: 4vh;
    color: gainsboro;
}

#Menu:hover {
    color: blue;
}

#board {
    position: absolute;
    left: calc(2vh);
    top: calc(12vh);
}

#again {
    position: absolute;
    left: calc(22vh);
    top: calc(1vh);
    width: 18vh;
    height: 8vh;
    font-size: 4vh;
    color: orange;
}

#again:hover {
    color: greenyellow;
}

#record {
    position: absolute;
    left: calc(42vh);
    top: calc(1vh);
    width: 18vh;
    height: 8vh;
    font-size: 4vh;
    color: red;
}

#record:hover {
    color: black;
}

#seat1 {
    text-align: center;
    position: absolute;
    left: calc(1vh);
    top: calc(22vh);
    width: 12vh;
    height: 30vh;
    border: 2px orange solid;
    color: orange;
    font-size: 5vh;
}

#seat2 {
    text-align: center;
    position: absolute;
    left: calc(80vh);
    top: calc(1vh);
    width: 40vh;
    height: 10vh;
    border: 2px orange solid;
    color: orange;
    font-size: 5vh;
}

#seat3 {
    text-align: center;
    position: absolute;
    left: calc(190vh);
    top: calc(22vh);
    width: 12vh;
    height: 30vh;
    border: 2px orange solid;
    color: orange;
    font-size: 5vh;
}

#myseat {
    position: absolute;
    left: calc(5vh);
    top: calc(52vh);
    color: orange;
    font-size: 6vh;
}

#launch {
    text-align: center;
    position: absolute;
    left: calc(190vh);
    top: calc(60vh);
    width: 16vh;
    height: 10vh;
    color: white;
    font-size: 5vh;
}

#launch:hover {
    color: black;
}

#pass {
    text-align: center;
    position: absolute;
    left: calc(190vh);
    top: calc(80vh);
    width: 16vh;
    height: 10vh;
    color: red;
    font-size: 5vh;
}

#alr {
    text-align: center;
    position: absolute;
    left: calc(190vh);
    top: calc(90vh);
    width: 16vh;
    height: 10vh;
    color: red;
    font-size: 5vh;
}

#pass:hover {
    color: yellow;
}

#centerdisplay {
    text-align: center;
    position: absolute;
    left: calc(55vh);
    top: calc(20vh);
    color: white;
    font-size: 6vh;
}

#centerdisplay2 {
    text-align: center;
    position: absolute;
    left: calc(65vh);
    top: calc(42vh);
    width: 60vh;
    height: 10vh;
    color: white;
    font-size: 6vh;
}

.card-container {
    width: 36vh;
    height: 50vh;
    position: relative;
    perspective: 1000px;
}

.cover,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform .9s ease-in-out;
}

.cover {
    transform: rotateY(0deg);
}

.card-container:hover .cover {
    transform: rotateY(900deg);
}

.back {
    transform: rotateY(-900deg);
}

.card-container:hover .back {
    transform: rotateY(0deg);
}